*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{

    width:260px;
    height:100vh;

    background:white;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    padding:25px;

    box-shadow:0 10px 40px rgba(0,0,0,.08);

    position:fixed;

    left:0;

    top:0;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:40px;

}

.logo h2{

    color:#0176d3;

    font-size:24px;

}

.logoIcon{

    font-size:40px;

    color:#0176d3;

}

.sidebar ul{

    list-style:none;

}

.sidebar ul li{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    margin-bottom:8px;

    border-radius:15px;

    cursor:pointer;

    color:#555;

    font-weight:500;

    transition:.3s;

}

.sidebar ul li:hover{

    background:#eef6ff;

    color:#0176d3;

    transform:translateX(6px);

}

.sidebar ul li.active{

    background:#0176d3;

    color:white;

}

.logout{

    background:#ff4d4f;

    color:white;

    border:none;

    padding:15px;

    border-radius:15px;

    cursor:pointer;

    font-size:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.logout:hover{

    background:#e53935;

}
.logoImage{
    width:100px;
    height:70px;
    object-fit:contain;
}